@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {

  background: #ffffff;

}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a,
p,
button {
  font-family: "Lato", sans-serif;

}

body {
  max-width: 100vw;
}

.header1 {
  background: #222;
}

.header2 {
  background: #f1e4e6;
}

.head_items {

  display: flex;
  gap: 33px;
  align-items: center;
}
.head_items img {
  max-height: 29px;
}

.img3line {
  max-height: 23px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.top_panel {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logosearch {
  height: 38px;
  width: 111px;
  display: flex;
  align-items: baseline;
  gap: 41px;
}

.svg2 {
  display: none;
}

.front_motto img {
  width: 800px;
  height: 764px;
}

.front_motto h2 {
  font-weight: 900;
  font-size: 48px;
  color: #222;
}

.front_motto h3 {
  font-weight: 700;
  font-size: 32px;
}

.front_motto {
  max-width: 1600px;
  height: 764px;
  display: flex;
}

.olf {
  display: flex;
  gap: 10px;
}

.img_pr {
  width: 12px;
  height: 92px;
}

.front_text {
  width: 421px;
  height: 94px;
  padding-left: 63px;
  padding-top: 289px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.f_text {
  color: #f16d7f;
}

.header {
  margin-bottom: 100px;
}

.categories {
  margin-bottom: 60px;
}

.categories_choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.categories_choice img {
  width: 360px;
  height: 260px;
}

.categories p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.categories h3 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #f16d7f;
}

.img_container {
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_bg_1 {
	background:
		linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
		url(./img/1-for\ women.png);
}

.img_bg_2 {
	background:
		linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
		url(./img/2-for\ men.png);
}

.img_bg_3 {
	background:
		linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
		url(./img/3-for\ kids.png);
}

.img_container_down {
  max-width: 1140px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	background:
		linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
		url(./img/4-ACCESORIES.png);
}

.items {
  padding: 20px 360px 20 360px;
}

.items_title h1 {
  font-weight: 400;
  font-size: 30px;
  color: #222;
}

.items_title p {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}

.items_title {
  text-align: center;
  margin-bottom: 50px;
}

.items_center {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 48px;
}

.items_center img {
  width: 360px;
  height: 420px;
}

.block_text h2 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.block_text p {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
}

.block_text h3 {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}

.block_text {
  padding: 24px 30px 24px 16px;
  background:  #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.items_centr_block {
  width: 360px;
}

.btm_items button{
  width: 212px;
  height: 48px;


  background-color: #ffffff;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  color: #f26376;
  cursor: pointer;
}

.btm_items {
  width: 212px;
  border: 1px solid #f26376;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media (max-width: 1280px) and (min-width: 1025px) {

  .container {
    min-width: 1025px;
  }

  .front_motto img {
    width: 60%;
  }

  .front_text {
    padding-left: 0;
  }

  .items_center {
    justify-content: center;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

  .container {
    margin: 0;
    min-width: 768px;

  }

  .top_panel {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logosearch {
    height: 38px;
    width: 111px;
    padding-left: 32px;
    display: flex;
    align-items: baseline;
    gap: 41px;
  }

  .head_items {
    width: 169px;
    height: 37px;
    display: flex;
    gap: 33px;
    align-items: center;
    padding-right: 40px;
  }

  .front_motto img {
    width: 386px;
    height: 368px;
  }

  .front_motto {
    height: 368px;
    display: flex;
  }

  .front_motto h2 {
    font-size: 44px;
  }

  .front_motto h3 {
    font-size: 24px;
  }

  .front_text {
    width: 320px;
    height: 92px;
    padding-left: 39px;
    padding-top: 138px;
    align-items: center;
  }

  .header {
    margin-bottom: 65px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .categories_choice {
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;



  }

  .img_container {
    width: 232px;
    height: 167px;

  }

  .img_container_down {
    width: 735px;
    height: 116px;
  }

  .items_center {

    justify-content: center;
  }

}

@media (max-width: 767px) and (min-width: 320px) {

  .container {
    margin: 0;
    min-width: 320px;
  }

  .form2 {
    display: none;
  }

  .form3 {
    display: none;
  }

  .logosearch {
    padding-left: 16px;
  }

  .head_items {
    flex-direction: row-reverse;
    padding-right: 16px;
  }

  .front_motto img {
    display: none;
  }

  .front_motto {
    height: 368px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .front_motto h2 {
    font-size: 38px;
  }

  .front_motto h3 {
    font-size: 20px;
  }

.svg1 {
  display: none;
}

.svg2 {
  display: block;
}

.front_text {
    width: 280px;
    height: 66px;
    padding: 0;
    gap: 15px;
  }

  .header {
    margin-bottom: 65px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }

  .categories_choice {
    flex-direction: column;
    margin-bottom: 32px;
    gap: 32px;
  }

  .img_container {
    width: 343px;
    height: 247px;
  }

  .img_container_down {
    width: 343px;
    height: 111px;
    background-position: center;
    object-fit: cover;
  }

  .items_center {
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }

}